<%= form_with(model: article, local: true) do |form| %>
  <% if article.errors.any? %>
    <% article.errors.full_messages.each do |message| %>
      <p><%= message %></p>
    <% end %>
  <% end %>

<div align=center>
  <div class="field">
    <%= form.label :title, 'タイトル' %>
    <br>
    <%= form.text_field :title %>
  </div>

  <div class="field">
    <%= form.label :content, '内容' %>
    <%= form.text_area :content, :class => "tinymce", :rows => 40, :cols => 120 %>
    <%= tinymce height: 250 %>
  </div>

  <div class="actions">
    <%= form.submit '投稿' %>
  </div>
</div>
<% end %>
