<p id="notice"><%= notice %></p>

<h1 class="top-title">
  <span class="shima">島</span><span class="dai">大</span><span class="hyaku">百</span><span class="ka">科</span>
</h1>

<table>
  <thead>
    <tr>
      <th>タイトル</th>
      <th>内容</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @articles.each do |article| %>
      <tr>
        <td><%= article.title %></td>
        <td><%= article.content.html_safe %></td>
        <td><%= link_to '詳細', article %></td>
        <td><%= link_to '編集', edit_article_path(article) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to '新規作成', new_article_path %>
